<div class="centerForm">
	<div class="mainFormBlock">

		<br><h3 class="formTitle">List of Users</h3>

			<% @users.each do |user| %>

				<p> 
					<a href= "/users/<%= user.id %>"><%= user.username%></a>
						<% if current_user and current_user != user %>
							<% if current_user and !current_user.following.include?(user) %>
								(<a href="/follow/<%= user.id %>">follow</a>)
							<% else %>
								(<a href="/unfollow/<%= user.id %>">unfollow</a>)
							<% end %>
						<% end %>
				</p>
				
			<% end %>

	</div>
</div>