<div class="center">
	<div class="bodycenterToPage">	
		<div class="mainBody">

		<div class="submitForm">
			<%= render "form" %>
		</div>

		<div id="news">
			<div id="posts">
					<div class="userPosts">
						<p><% @posts.each do |post| %>
							<p><%= post.user.username %>:</p>
							<h2><%= post.body %></h2>
							<br>
							<%end%>
						</p>
					</div>
			</div>
		</div>

		</div>
	</div>
</div>